@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,700&display=swap');

// COLORS **********************************************************************

$primary: #8B00FF;
$secondary: #240A40;

// MIXINS **********************************************************************

@mixin header(){
  font-family: Montserrat, sans-serif;
}

@mixin body(){
  font-family: 'Open Sans', sans-serif;
}

@mixin button(){
  height: 3rem;
  background: $secondary;
  color: $primary;
  @include header();
  font-weight: 700;
  font-size: 0.75rem;
  border-radius: 4px;
  transition: all 0.3s ease;
  cursor: pointer;

  span {
    display: block;
    transition: transform 0.3s ease;
  }

  &:active,
  &:focus {
    outline: none;
  }

  &:hover {
    background: $primary;
    color: $secondary;
  }

  &:active {
    box-shadow: inset 1px 0px 10px 2px $secondary;

    span {
      transform: scale(0.95);
    }
  }
}

// GENERAL *********************************************************************

* {
  box-sizing: border-box;
}

h2 {
  color: $secondary;
  text-align: center;
  @include header();
}

body {
  overflow-x: hidden;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  @include body();

// NAVBAR **********************************************************************

  nav {
    background: $secondary;
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 1;
    box-shadow: 1px 0 100px 15px $primary;

    a {
      display: inline-block;
    }

    #logo {
      width: 140px;
      margin: 0 auto 0 10px;

      img {
        width: 100%;
      }
    }
  }

// CONTENT *********************************************************************

  .hero {
    width: 100vw;
    background: url('../assets/code.jpg');
    background-size: cover;
    background-position: center;

    .hero-overlay{
      padding: 10% 20%;
      background: linear-gradient(rgba(36,10,64, 0.6), rgba(36,10,64, 0.8) 30%, rgba(36,10,64, 0.8) 70%, rgba(36,10,64, 0.6));

      h2, h3 {
        color: $primary;
      }
    }
  }

  main {
    flex-grow: 1;
    padding-bottom: 50px;

    .container {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 80%;
      margin: auto;
    }

    .offer-details {
      display: flex;
      justify-content: space-around;

      div.offer {
        width: 40%;
        border: 1px solid $secondary;
        border-radius: 5px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        img {
          width: 100%;
        }

        .content {
          padding: 5% 8%;
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          p {
            font-size: 0.8rem;
          }

          h3 {
            margin: 0;
          }
        }

        .bottom-content {
          display: flex;
          justify-content: space-between;
          align-items: center;

          p {
            display: flex;
            flex-direction: column;

            span {
              font-size: 1.5rem;
            }

          }

          button {
            @include button();
          }
        }

      }
    }
  }

  footer {
    background: $secondary;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

    a {
      text-decoration: none;
      color: $primary;
      font-size: 2rem;
    }
  }
}

// MODAL ***********************************************************************

div.modal-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(169,169,169,0.9);
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.2s ease;
  pointer-events: none;

  &.displayed {
    opacity: 1;
    pointer-events: auto;

    .modal {
      transform: scale(1);
    }
  }

  .modal {
    transform: scale(0);
    border: 5px solid $secondary;
    border-radius: 20px;
    background: lighten($primary, 40%);
    padding: 2% 4%;
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease;

    span.exit {
      align-self: flex-end;
      font-size: 2rem;
      cursor: pointer;

      &:hover {
        color: $primary;
      }
    }

    ul {
      margin-top: 0;

      p {
        margin: 0 0 5px;
      }
    }

    a#mail-button {
      align-self: center;
      margin-right: 20px;

      button {
        @include button();
        padding: 0 10%;

        span {
          font-size: 1rem;
        }
      }
    }
  }
}
